# Fichiers de dépendances
node_modules/
.npm

# Fichiers d'environnement (variables sensibles)
.env
.env.local

# Fichiers de compilation / logs
dist/
*.log

# Fichiers générés par l'IDE/éditeur
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store